    <h1> <img src="https://seeklogo.com/images/P/Pokemon-logo-497D61B223-seeklogo.com.png" alt=""></h1>

    <h2> </h2>

     <div class=pokeOut>

        <h1 class="name"></h1>
        <p class="species"></p>

         <div class=pokeIn>
        
         </div>

         
     </div>

     <div class="rightArrow">

             <ul class=intervalRight>
             <li class="five">5x</p>
             <li class="ten">10x</p>
             <li class="hundred">100x</p>
         </ul>

        <img src="https://people.emich.edu/dheiss2/231/231_Project_1/images/arrow.png" alt="">

         </div>

        

     <div class="leftArrow">

         <ul class="intervalLeft">
                <li class="five">5x</p>
             <li class="ten">10x</p>
             <li class="hundred">100x</p>
          </ul>

        <img src="https://people.emich.edu/dheiss2/231/231_Project_1/images/arrow.png" alt="">

         </div>

         

             


<!---

<h3>Example variable should be below: </h3>
{{ exampleVariable }}

{{#each people}}
<li> {{this.name}} </li>
{{/each}}

-->