    <h1> <img src="https://seeklogo.com/images/P/Pokemon-logo-497D61B223-seeklogo.com.png" alt=""></h1>

    <h2> </h2>

     <div class=pokeOut>

        <h1 class="name"></h1>
        <p class="species"></p>

         <div class=pokeIn>
        
         </div>

         
     </div>

     <div class="rightArrow">
             <img src="https://people.emich.edu/dheiss2/231/231_Project_1/images/arrow.png" alt="">

             <p class="five">5x</p>
             <p class="ten">10x</p>
             <p class="hundred">100x</p>

         </div>


     <div class="leftArrow">
             <img src="https://people.emich.edu/dheiss2/231/231_Project_1/images/arrow.png" alt="">

             <div class="interval">
                <p class="five">5x</p>
             <p class="ten">10x</p>
             <p class="hundred">100x</p>
             </div>
         </div>

             


<!---

<h3>Example variable should be below: </h3>
{{ exampleVariable }}

{{#each people}}
<li> {{this.name}} </li>
{{/each}}

-->